<div id="loading-block" style="overflow-y: scroll; width:300px;height: 200px; margin-bottom: 80px;">Загрузка...</div>
<div id="filter-block">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result" style="overflow-y: scroll; width:300px;height: 80px; margin-top: 40px;">
  </div>
</div>
